<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fitness Plan</title>
    <link rel="stylesheet" href="/static/css/fitnessPlan.css">
</head>
<body>
<h2>Fitness Plan</h2>
<table >
    <thead>
    <tr>
        <th>Plan ID</th>
        <th>Plan Level</th>
        <th>Effective Date</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <!-- 使用 Thymeleaf 迭代渲染数据 -->
    <tr th:each="fitnessPlan : ${fitnessPlans}">
        <td th:text="${fitnessPlan.planId}"></td>
        <td th:text="${fitnessPlan.planLevel}"></td>
        <td th:text="${fitnessPlan.planDate}"></td>
        <td th:text="${fitnessPlan.planPrice}"></td>
        <td>

            <button th:onclick="'buy(\'' + ${fitnessPlan.planId} + '\', \'' + ${fitnessPlan.planPrice} + '\')'">purchase</button>
        </td>
    </tr>
    </tbody>
</table>

<a href="/member/fitnessplan/View" class="btn btn-primary">View My Fitness Plan</a>

<script th:inline="javascript">

    function buy(planId, planPrice) {
        var user = sessionStorage.getItem("userName");
        // 发送 AJAX 请求到后端，获取当前用户的余额
        fetch('/member/fitnessplan/getBalance', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ userName: user })
        })
            .then(response => response.json())
            .then(balance => {
                // 检查余额是否足够支付计划价格
                if (balance < planPrice) {
                    // 如果余额不足，弹出提示框告知用户
                    alert("Insufficient balance, purchase failed!");
                } else {
                    // 如果余额足够，发送购买请求给后端
                    fetch('/member/fitnessplan/buyAndUpdate', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ userName: user, planId: planId })
                    }).then(response => {
                        if (response.ok) {
                            // 如果购买成功，弹出购买成功的提示框
                            alert("purchase succeeded");
                            // 更新余额和时间
                            updateBalance(planId);
                        } else {
                            // 如果购买失败，弹出购买失败的提示框
                            alert("purchase failed。");
                        }
                    }).catch(error => {
                        console.error('Error:', error);
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function updateBalance(planId) {
        user = sessionStorage.getItem("userName");
        /* 发送POST请求给后端 */
        fetch('/member/fitnessplan/buyAndUpdate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ userName: user, planId: planId }) })}/* 将planId作为请求体发送给后端 */
</script>

<!--<script src="/static/js/getUserName.js"></script>-->
</body>
</html>

