<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notification Information Display</title>
    <link rel="stylesheet" href="/static/NotificationDisplay.css">
</head>
<body class="body">
<header class="header">
    <h1 class="title">Notification Information Display</h1>
</header>
<main class="main">
    <table class="table">
        <thead>
        <tr>
            <th class="table-header">Notification ID</th>
            <th class="table-header">Type</th>
            <th class="table-header2">Plan Level</th>
            <th class="table-header3">Member E-mail</th>
            <th class="table-header">Date</th>
            <th class="table-header4">Content</th>
            <th class="table-header">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notifications : ${notifications}">
            <td th:text="${notifications.notificationId}"></td>
            <td th:text="${notifications.type}"></td>
            <td th:text="${notifications.planlevel}"></td>
            <td th:text="${notifications.memberemail}"></td>
            <td th:text="${notifications.date}"></td>
            <td th:text="${notifications.content}"></td>
            <td>
                <a th:href="@{sendnotificationId(notificationId=${notifications.notificationId})}" class="link-button">Update</a>
                <a th:href="@{delNot(notificationId=${notifications.notificationId})}" class="link-button delete">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="add-button">
        <a href="/addPageNot" class="link-button">Add New Notification</a>
    </div>
</main>
</body>
</html>
