<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fitness Plan</title>
    <link rel="stylesheet" href="/static/css/fitnessPlan.css">
</head>
<body>
<h2>The expiration date of my fitness program</h2>
<table id="timeTable">
    <thead>
    <tr>
        <th>PlanID</th>
        <th>PlanLevel</th>
        <th>StartTime</th>
        <th>EndTime</th>
        <th></th>
    </tr>
    </thead>
    <!-- 表格上方 -->
    <div th:if="${#lists.isEmpty(members)}">
        No fitness plan data
    </div>

    <tbody>
    <tr th:each="member : ${members}">
        <td th:text="${member.purchasePlanId}"></td>
        <td th:text="${member.planLevel}"></td>
        <td th:text="${#temporals.format(member.startTime, 'yyyy/MM/dd HH:mm:ss')}"></td>
        <td th:text="${#temporals.format(member.endTime, 'yyyy/MM/dd HH:mm:ss')}"></td>
        <td><button th:onclick="'deleteAndUpdatePlan(\'' + ${member.purchasePlanId} + '\')'">Cancel Purchase</button></td>
    </tr>
    </tbody>
</table>

<script th:inline="javascript">
    function deleteAndUpdatePlan(purchasePlanId){
        fetch('/member/fitnessplan/deleteAndUpdatePlan', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ purchasePlanId: purchasePlanId })
        }).then(response => {
            if (response.ok) {
                // 如果删除成功，弹出删除成功的提示框
                alert("Plan deleted successfully");
                // 更新页面或执行其他操作
                location.reload(); // 重新加载页面
            } else {
                // 如果删除失败，弹出删除失败的提示框
                alert("Failed to delete plan");
            }
        }).catch(error => {
            console.error('Error:', error);
        });
    }
    // function deletePlan(purchasePlanId) {
    //     // 发送 AJAX 请求给后端，删除对应的计划
    //     fetch('/member/fitnessplan/deletePlan', {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/json'
    //         },
    //         body: JSON.stringify({ purchasePlanId: purchasePlanId })
    //     }).then(response => {
    //         if (response.ok) {
    //             // 如果删除成功，弹出删除成功的提示框
    //             alert("Plan deleted successfully");
    //             // 更新页面或执行其他操作
    //             location.reload(); // 重新加载页面
    //         } else {
    //             // 如果删除失败，弹出删除失败的提示框
    //             alert("Failed to delete plan");
    //         }
    //     }).catch(error => {
    //         console.error('Error:', error);
    //     });
    // }
    //
    // function  updatePlan(purchasePlanId) {
    //     /* 发送POST请求给后端 */
    //     fetch('/member/fitnessplan/Update', {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/json'
    //         },
    //         body: JSON.stringify({ purchasePlanId: purchasePlanId}) })}
</script>
</body>
</html>

