<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fitness Plan</title>
    <link rel="stylesheet" href="/css/buttonstyle.css">
    <link rel="stylesheet" href="/static/css/balance.css">
    <link rel="stylesheet" href="/static/css/cyjpage.css">
</head>
<body>
<div id="balance-container">
    <h1>Member Balance:</h1>
    <div id="balance" th:text="${balance}"></div>
</div>


<h2>Fitness Plan</h2>
<table>
    <thead>
    <tr>
        <th>Plan ID</th>
        <th>Plan Level</th>
        <th>Effective Date</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <!-- 使用 Thymeleaf 迭代渲染数据 -->
    <tr th:each="fitnessPlan : ${fitnessPlans}">
        <td th:text="${fitnessPlan.planId}"></td>
        <td th:text="${fitnessPlan.planLevel}"></td>
        <td th:text="${fitnessPlan.planDate}"></td>
        <td th:text="${fitnessPlan.planPrice}"></td>
        <td>

            <button th:onclick="'buy(\'' + ${fitnessPlan.planId} + '\', \'' + ${fitnessPlan.planPrice} + '\')'">
                purchase
            </button>
        </td>
    </tr>
    </tbody>
</table>

<a href="/member/fitnessplan/View" class="btn btn-primary">View My Fitness Plan</a>

<script th:inline="javascript">
    //先显示余额
    fetch('/member/fitnessplan/getBalance')
        .then(response => response.json())
        .then(balance => {
            document.getElementById('balance').innerText = balance;
        })
        .catch(error => {
            console.error('Error:', error);
        });
    function buy(planId, planPrice) {
        // 发送 AJAX 请求到后端，获取当前用户的余额
        fetch('/member/fitnessplan/getBalance')
            .then(response => response.json())
            .then(balance => {
                // 检查余额是否足够支付计划价格
                if (balance < planPrice) {
                    // 如果余额不足，弹出提示框告知用户
                    alert("Insufficient balance, purchase failed!");
                } else {
                    // 如果余额足够，发送购买请求给后端
                    fetch('/member/fitnessplan/buyAndUpdate', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({planId: planId})
                    }).then(response => {
                        if (response.ok) {
                            // 如果购买成功，弹出购买成功的提示框
                            alert("purchase succeeded");
                            // 更新余额和时间
                            updateBalance(planId);
                            // 获取更新后的余额显示在页面
                            getBalance();
                        } else {
                            // 如果购买失败，弹出购买失败的提示框
                            alert("purchase failed。");
                        }
                    }).catch(error => {
                        console.error('Error:', error);
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }


    function updateBalance(planId) {
        /* 发送POST请求给后端 */
        fetch('/member/fitnessplan/buyAndUpdate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({planId: planId})
        })
    }/* 将planId作为请求体发送给后端 */

    function getBalance() {
        fetch('/member/fitnessplan/getBalance')
            .then(response => response.json())
            .then(balance => {
                document.getElementById('balance').innerText = balance;
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
</body>
</html>

