<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Center Appointment System</title>
    <link rel="stylesheet" href="/HomePageStyle.css">
    <link rel="stylesheet" href="/static/Index_Welcome.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="#services">Services</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="index.html">Login</a></li>
        </ul>
    </nav>
</header>
<section id="top-section">
    <div class="container">
        <h1>Welcome to XJTLU Fitness Center</h1>
        <p>Your destination for a healthier lifestyle.</p>
<!--        <p>Harder, better, faster, stronger.</p>-->
    </div>
</section>
<section id="services" class="container">
    <div class="container">
        <h2>Our Services</h2>
        <p>We offer a wide range of fitness services to meet your needs.</p>
        <div class="services-list">
            <div class="service">
                <h3>Fitness Session</h3>
                <p>Join our group fitness classes for a fun workout experience.</p>
            </div>
            <div class="service">
                <h3>Personal Training</h3>
                <p>Get personalized training sessions with our certified trainers.</p>
            </div>
<!--            <div class="service">-->
<!--                <h3>Yoga Classes</h3>-->
<!--                <p>Relax your mind and body with our yoga classes.</p>-->
<!--            </div>-->
        </div>
    </div>
</section>
<section id="about" class="container">
    <div class="container">
        <h2>About Us</h2>
        <p>Learn more about our Fitness Center and our mission to help you achieve your fitness goals.</p>
    </div>
</section>
<section id="contact" class="container">
    <div class="container">
        <h2>Contact Us</h2>
        <p>Have questions? Feel free to contact us for more information.</p>
        <address>
            XJTLU Fitness Center<br>
            111 Renai road, Suzhou City, China<br>
            Phone: 123-456-7890<br>
            Email: info@XJTLUfitnesscenter.com
        </address>
    </div>
</section>
<footer class="container">
    <div class="container">
        <p>&copy; 2024 XJTLU Fitness Center. All rights reserved.</p>
    </div>
</footer>

<!-- 返回顶部按钮 -->
<button class="scroll-to-top-btn" onclick="scrollToTop()">↑</button>

<!-- 引入 JavaScript 文件 -->
<script src="/HomePage.js"></script>

</body>
</html>
