<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SendNotification</title>
</head>
<body>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<div th:if="${error}">
    <p th:text="${error}"></p>
</div>

<table class="table">
    <thead>
    <tr>
        <th class="table-header">Notification ID</th>
        <th class="table-header">Type</th>
        <th class="table-header2">Trainer ID</th>
        <th class="table-header3">Customer ID</th>
        <th class="table-header">Date</th>
        <th class="table-header4">Content</th>
        <th class="table-header">Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="notifications : ${notifications}">
        <td th:text="${notifications.notificationId}"></td>
        <td th:text="${notifications.type}"></td>
        <td th:text="${notifications.trainerId}"></td>
        <td th:text="${notifications.customerId}"></td>
        <td th:text="${notifications.date}"></td>
        <td th:text="${notifications.content}"></td>
        <td>
            <a th:href="@{sendnotificationId(notificationId=${notifications.notificationId})}" class="link-button">Update</a>
            <a th:href="@{delNot(notificationId=${notifications.notificationId})}" class="link-button delete">Delete</a>
            <a th:href="@{/sendNotification(notificationId=${notifications.notificationId})}" class="link-button delete">Send</a>
        </td>
    </tr>
    </tbody>
</table>
<!--尊敬的<5pan th: text=mgfUsername)f></span>用户1 <br/>-->
<!--感谢你购买本公司产品，你的订单号是：<span th:text="${orderNo}"></span><br/>-->
<!--金额：<span th:text="${amount} "></span><br/>-->
<!--收货人手机: <span th:text="${mobile}"></span><br/>-->
</body>
</html>