<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trainer Information Display</title>
    <link rel="stylesheet" href="/static/TrainerDisplay.css">
</head>
<body class="body">
<header class="header">
    <h1 class="title">Trainer Information Display</h1>
</header>
<main class="main">
    <table class="table">
        <thead>
        <tr>
            <th class="table-header">Trainer ID</th>
            <th class="table-header">Name</th>
            <th class="table-header">Sex</th>
            <th class="table-header">Email</th>
            <th class="table-header">Honour</th>
            <th class="table-header">Experience</th>
            <th class="table-header">Entry Time</th>
            <th class="table-header">Star Level</th>
            <th class="table-header">Customer Evaluation</th>
            <th class="table-header">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="trainers : ${trainers}">
            <td th:text="${trainers.trainerId}"></td>
            <td th:text="${trainers.name}"></td>
            <td th:text="${trainers.sex}"></td>
            <td th:text="${trainers.email}"></td>
            <td th:text="${trainers.honour}"></td>
            <td th:text="${trainers.experience}"></td>
            <td th:text="${trainers.entrytime}"></td>
            <td th:text="${trainers.starlevel}"></td>
            <td th:text="${trainers.customerevaluation}"></td>
            <td>
                <a th:href="@{sendtrainerId(trainerId=${trainers.trainerId})}" class="link-button">Update</a>
                <a th:href="@{del(trainerId=${trainers.trainerId})}" class="link-button delete">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="add-button">
        <a href="/addPage" class="link-button">Add New Trainer</a>
    </div>
</main>
</body>
</html>
